@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";


* {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
    -webkit-user-drag: none;
}

html, body, button, a, input, .cursor-target {
    cursor: none !important;
}

