@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";


* {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
    -webkit-user-drag: none;
}

html, body {
    cursor: url('/cursor/cursor.png') 0 0, auto;
    min-height: 100vh;
}

button, 
a, 
a *, 
input[type="button"],
[role="button"] {
    cursor: url('/cursor/hand1.png') 0 0, pointer !important;
    text-decoration: none !important;
}

button:active, 
a:active {
    cursor: url('/cursor/hand2.png') 0 0, pointer !important;
}

a:hover {
    cursor: url('/cursor/hand1.png') 0 0, pointer !important;
}